.genre {
    padding: 50px;
}

.images {
    display: flex;
    flex-direction: column;
    @include xs {
        flex-direction: row;
    }
}

.img {
    margin-bottom: 10px;
    @include xs {
        margin-bottom: unset;
    }
}

.img:not(:last-child) {
    @include xs {
        margin-right: 5px;
    }
}